name: Deploy Python App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted   
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Python 3 & pip
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip

      - name: Install Dependencies
        run: |
          if [ -f requirements.txt ]; then
            pip3 install -r requirements.txt
          else
            echo "No requirements.txt found, skipping."
          fi

      - name: Run app.py
        run: |
          python3 app.py | tee output.log

      - name: Save output to EC2
        run: |
          echo "Output stored at: $(pwd)/output.log"
